/* project cards css */

.project-card-div{
    display: grid;
    grid-template-columns: 60% 40%;
    border: solid rgba(0,0,0,0.45) 1px ;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.45);
    border-radius: 20px;
    padding: 2em;
}
  
  
.project-card-title {
    font-size: 40px;
    line-height: 1.1;
    text-decoration: none;
    color: black;
}

.project-card-title:hover{
    color: blue;
}
  
.project-card-desc {
    font-size: 20px;
    line-height: 30px;
    color: #666;
}
  
.skills-title{
    font-size: 25px;
    padding-bottom: 0.4em;
} 

.project-card-img-div{
    width: 100%;
    height: auto;
}
  
.project-card-img{
    width: 100%;
    height: auto;
}

.skills-div-main{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    font-size: 15px;
    color: grey;
    font-weight: 600;
    padding: 2% 3%;
    margin: 1% 2% 1% 0%;
    border: #666 solid 0.1em;
    border-radius: 2em;
}
 
/* Media Query */
@media (max-width: 1480px) {
    .project-card-title{
        font-size: 25px;
    }
    .project-card-desc{
        font-size: 15px;
        line-height: normal;
    }
    .skills-title{
        font-size: 18px;
    }
    .skill{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .project-card-title{
        font-size: 20px;
        line-height: 1.8em;

    }
    .project-card-desc{
        font-size: 10px;
        line-height: normal;
        text-align: center;
    }
    .skills-title{
        font-size: 13px;
    }
    .skill{
        font-size: 7px;
    }
}