.skills-main-div{
    display: flex;
    overflow: hidden;
}

.skills-main-div > * {
    flex: 1;
    margin-bottom: 30px;
}

.skills-left-div > img {
    max-width: 100%;
    height: auto;
}

.skills-right-div {
    margin-left: 50px;
}

  /* Media Query */
  @media (max-width: 1380px) {
  }
  @media (max-width: 768px) {
    .skills-main-div {
      flex-direction: column;
    }
    .skills-right-div {
      margin-left: 0px;
      margin: 20px;
    }
    .skills-left-div {
      order: 2;
    }
  }